*{
  margin: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
}
.form{
  width: 700px;
  /* height: 400px; */
}

.head{
  background-color: rgb(85, 50, 118);

}

.col6{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color:white;
  
}
a{
  text-decoration: none;
}
Label{
  width:100px;
}